.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: brightness(0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-modal {
  width: 60vw;
  height: 80vh;
  background-color: rgba(255, 255, 255, 0.917);
  border-radius: 10px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  backdrop-filter: blur(0.5);
  padding: 10px;
}
.container-modal::-webkit-scrollbar {
  width: 5px;
}
.container-modal::-webkit-scrollbar-thumb {
  background-color: rgba(191, 198, 57, 0.863);
  border-radius: 100px;
  border: 1px solid rgba(191, 198, 57, 0.863);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 2px solid black;
}

.modal-header h2 {
  border: none;
}

.modal-header img {
  width: 30px;
  transition: all 0.5s ease;
}
.modal-header img:hover {
  transform: scale(1.2);
}

main {
  grid-area: main;
  height: 80vh;
  margin: 5px;
  border-radius: 10px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 3px 3px 15px black;
  backdrop-filter: blur(5px);
  padding: 10px;
}
main::-webkit-scrollbar {
  width: 5px;
}
main::-webkit-scrollbar-thumb {
  background-color: rgba(0, 184, 255, 0.8509803922);
  border-radius: 100px;
  border: 1px solid rgba(0, 184, 255, 0.8509803922);
}

form {
  margin: 10px auto;
}

.text {
  font-family: cursive;
}

.btn {
  padding: 7px;
  border-radius: 8px;
  border: 2px solid #f077dc;
  background-color: #f077dc;
  color: white;
  font-weight: bold;
}

.btn:hover {
  background-color: white;
  color: #f077dc;
  border: 2px solid #f077dc;
}

.ingresoTarea {
  padding: 7px;
  border-radius: 8px;
  border: 2px solid #f077dc;
  text-align: center;
  font-weight: bold;
  color: #f077dc;
}

.ingresoTarea:focus-visible {
  outline: none;
}

header {
  display: flex;
  justify-content: space-between;
  grid-area: header;
  background-color: #9f0d86;
  height: 40px;
  z-index: 0;
}

.cestoBasura {
  position: absolute;
  top: 1px;
  right: 10px;
  transition: all 1s ease;
  z-index: 5;
}
.cestoBasura img {
  width: 35px;
}

.totalTareasEliminadas {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: red;
  top: 12px;
  right: -7px;
  font-weight: bold;
  color: white;
  padding: 2px;
  border-radius: 50%;
}

@keyframes pulso {
  0% {
    width: 20px;
    height: 20px;
    opacity: 1;
  }
  100% {
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}
.logo {
  font-family: cursive;
  font-weight: bolder;
  padding: 8px;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
}

.blanco {
  color: white;
  text-shadow: 3px 3px black;
}

.negro {
  color: black;
  text-shadow: 1px 1px white;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: footer;
  background-color: #9f0d86;
  height: calc(20vh - 50px);
}

.encabezadoFooter {
  align-self: center;
}

.tituloFooter {
  text-align: center;
  color: #ffffff;
  margin-bottom: 5px;
  font-family: sans-serif;
}

.iconoFooterContenedor {
  display: flex;
  justify-content: space-around;
}
.iconoFooterContenedor a {
  transition: all 0.5s;
}
.iconoFooterContenedor a:hover {
  transform: scale(1.5, 1.5);
}

.copyrightFooter {
  font-size: 10px;
  margin-left: 10px;
  color: #ffffff;
  font-family: sans-serif;
}

aside {
  grid-area: aside;
  margin: 5px;
  box-shadow: 3px 3px 15px black;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  padding: 10px;
  height: 80vh;
  overflow: auto;
}
aside::-webkit-scrollbar {
  width: 5px;
}
aside::-webkit-scrollbar-thumb {
  background-color: rgba(44, 243, 128, 0.6705882353);
  border-radius: 100px;
  border: 1px solid rgba(44, 243, 128, 0.6705882353);
}

.tareaIncompleta {
  background-color: rgba(0, 184, 255, 0.8509803922);
}

.tareaCompleta {
  background-color: rgba(44, 243, 128, 0.6705882353);
}

.tareaEliminada {
  background-color: rgba(191, 198, 57, 0.863);
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  list-style: none;
}
ul li div {
  display: flex;
  align-items: flex-end;
}

.contenedorOpciones input {
  padding: 8px;
  font-weight: bold;
  background: transparent;
  color: #ffffff;
  border: none;
  box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.5411764706);
  margin-right: 10px;
}
.contenedorOpciones input::focus-visible {
  outline: none;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.5411764706), -1px -1px 5px rgba(255, 255, 255, 0.5411764706);
}

.btnEditar {
  background-color: rgba(255, 255, 255, 0.5411764706);
  border: 2px solid white;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}
.btnEditar:hover {
  background-color: #26c3ff;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.5411764706);
}
.btnEditar:focus-visible {
  outline: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  grid-template-columns: 60% 40%;
  grid-auto-flow: row dense;
  grid-template-areas: "header header" "main   aside" "main   aside" "main   aside" "footer footer";
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/FondoEstrellas.webp");
  display: grid;
}

img {
  width: 20px;
}

h2 {
  padding-bottom: 5px;
  border-bottom: 2px solid black;
  text-shadow: 2px 2px 5px #9f0d86;
}

.noMostrar {
  display: none;
}

/*# sourceMappingURL=style.css.map */
