main {
    grid-area: main;
    height: 80vh;
    margin: 5px;
    border-radius: 10px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 3px 3px 15px black;
    backdrop-filter: blur(5px);
    padding: 10px;

    &::-webkit-scrollbar {
        width: 5px; 
    }
            
    &::-webkit-scrollbar-thumb {
        background-color: #00b8ffd9;
        border-radius: 100px;
        border: 1px solid #00b8ffd9; 
    }
}


form {
    margin: 10px auto;
}


.text {
    font-family: cursive;
}

.btn{
    padding: 7px;
    border-radius: 8px;
    border: 2px solid #f077dc;
    background-color: #f077dc;
    color: white;
    font-weight: bold;
}

.btn:hover {
    background-color: white;
    color: #f077dc;
    border: 2px solid #f077dc;
}


.ingresoTarea {
    padding: 7px;
    border-radius: 8px;
    border: 2px solid #f077dc;
    text-align: center;
    font-weight: bold;
    color: #f077dc;
}

.ingresoTarea:focus-visible {
    outline: none;
}


